<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/Style/CSS/Makeup.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="/Shares/navbar"></div>
<div class="container">
    <a th:href="@{/create}"> <button type="button" class="btn btn-primary">New Article</button></a><span style="margin-left:10px;"><a href="/?lang=en">English</a><a href="/?lang=km">Khmer</a><a href="/?lang=kr">Korea</a></span>
<table id="header" class="table">
    <thead >
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{Title}"></th>
        <th scope="col" th:text="#{Description}"></th>
        <th scope="col" th:text="#{Image}"></th>
        <th scope="col" th:text="#{Action}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" tmp: ${article}" th:object="${tmp}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{description}"></td>
        <td><img th:src="'/photo/'+*{thumbnail}" /></td>
        <td><a th:href="@{/view/{id}(id=*{id})}"> <button type="button" class="btn btn-success">View</button></a>
            <a th:href="@{/update/{id}(id=*{id})}"> <button type="button" class="btn btn-warning">Update</button></a>
            <a th:href="@{/delete/{id}(id=*{id})}"> <button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>